@media (max-width: 280px) {
    #emailInput, #passwordInput, #nameInput, #idInput, #dateInput {
        background: rgb(197, 197, 197);
        color: rgb(41, 41, 41);
        min-width: 240px;
        justify-content: center;
        align-items: center;
        left: 0;
        bottom: 10px;
    }

    ol li{
        font-size: 12px;
    }

    #title {
        font-size: 12px;
    }

    main {
        padding-right: 4px;
    }

    nav {
        transform: scale(0.85);
    }
}

@media (min-width: 281px) and (max-width: 767px) {
    #emailInput, #passwordInput, #nameInput, #idInput, #dateInput #nameInput, #idInput, #dateInput {
        background: rgb(197, 197, 197);
        color: rgb(41, 41, 41);
        min-width: 300px;
        justify-content: center;
        align-items: center;
        left: 0;
        bottom: 10px;
    }

    #mainBox #Box{
        margin-top: 10%;
    }

    img {
        min-height: 80px;
        min-width: 80px;
        margin-left: -10px;
    }

    header a{
        margin-top: 2%;
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #emailInput, #passwordInput, #nameInput, #idInput, #dateInput #nameInput, #idInput, #dateInput {
        background: rgb(197, 197, 197);
        color: rgb(41, 41, 41);
        min-width: 450px;
        justify-content: center;
        align-items: center;
        left: 0;
        bottom: 10px;
    }
}

@media (min-width: 1024px) {    
    #emailInput, #passwordInput, #nameInput, #idInput, #dateInput #nameInput, #idInput, #dateInput {
        background: rgb(197, 197, 197);
        color: rgb(41, 41, 41);
        font-family: Arial, Helvetica, sans-serif;
        min-width: 480px;
    }
}

@media (min-width: 1400px) {

    header {
        max-height: 85px;
    }

    #title ,
    header ol li,
    input, button {
        transform: scale(1.08);
    }
}

main {
    padding-right: 4px;
}


.field label {
    margin-bottom: 18.5px;
}

#logo {
    margin: 0 auto;
}

#logo img {
    margin-top: -12.5%;
    border-radius: 8px;
    border: none;
    border-radius: 50%;
}

#logo .logo-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    pointer-events: none;
    z-index: -1;
}


#logo {
    width: 8.5%;
    height: 7.2%;
    border-radius: 8px;
}

button {
    margin-left: 40%
}

button:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
}
